*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
  }

  a{
    text-decoration: none;
    color: steelblue;
  }
   
  a.links{
    display: none;;
  }

body{
    background-color: blueviolet;
}
.content{
  text-align: center;
  
}
.container{
    background-color: white;
    width: 300px;
    min-height: 260px;    
    margin: 0px auto;
    position: relative;
   border-radius: 5px;
  height: 300px;
}
label{
    color: #111414;
  }
  button{
      width: 60px;
      height: 40px;
      cursor: pointer;
      background-color: rgb(83, 63, 102);
      color: white;
  }
  h2{
      color: rgb(142, 33, 214);
  }